[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/apratimankur/ghost-casper-theme-mod
[submodule "core/client"]
	path = core/client
	url = https://github.com/apratimankur/ghost-admin-client
